html, body   {
    font-family: 'Ubuntu', monospace;
    /*font-size: 14px;*/
    max-width: 100%;
    max-height: 100%;
    /*text-align: center;*/
    /*border: 1px solid red;*/
}

.wrapper   {
    display: block;
    position: absolute;
    width: 828px;
    max-height: 300px;
    margin: auto;
    top: 20%; right: 0; bottom: auto; left: 0;
    /*border: 1px solid red;*/
}
@font-face {
    font-family: 'Ubuntu';
    src: url('UbuntuMono-B.tff');
}
h1  {
    font-family: 'Ubuntu', monospace;
    font-size: 68px;
    color: #1d1d23;
    text-transform: uppercase;  
}

h1  .good, .fast, .cheap    {
    position: relative;
    cursor: pointer;
}

h1  .good:hover, .fast:hover, .cheap:hover  {
    font-size: 0;
}

h1  .good:hover:before, .fast:hover:before, .cheap:hover:before  {
    font-size: 68px;
    color: #df2020;
    content: attr(data-hover);
}

.websites   {
    font-size: 1.4em;
    color: #262626;
    line-height: 2em;
    margin-top: 50px;
    word-break: break-all;
}

.websites span{
    padding: 4px;
    background-color: #DDD;
}

.websites span:hover{
    background-color: #EEE;
}

.websites  a   {
    text-decoration: none;
    color: #1d1d23;
}
footer  {
    bottom: 0px;
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
}

footer  a   {
    position: relative;
    top: 13px;
    text-decoration: none;
    color: #a29e9d;
}