* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.breadcrumb {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    white-space: nowrap;
}

.breadcrumb:not(:last-child),
.content:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 1.5rem;
}

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ol,
p,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

ul {
    list-style: none;
}

html {
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*,
::after,
::before {
    box-sizing: inherit;
}

img {
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

figure,
section {
    display: block;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

a {
    color: #485fc7;
    cursor: pointer;
    text-decoration: none;
}

a strong {
    color: currentColor;
}

a:hover {
    color: #363636;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

strong {
    color: #363636;
    font-weight: 700;
}

.image {
    display: block;
    position: relative;
}

.image img {
    display: block;
    height: auto;
    width: 100%;
}

.title span {
    font-weight: inherit;
}

.title strong {
    color: inherit;
    font-weight: inherit;
}

.label:not(:last-child) {
    margin-bottom: .5em;
}

.breadcrumb a {
    align-items: center;
    color: #485fc7;
    display: flex;
    justify-content: center;
    padding: 0 .75em;
}

.breadcrumb a:hover {
    color: #363636;
}

.breadcrumb li {
    align-items: center;
    display: flex;
}

.breadcrumb li:first-child a {
    padding-left: 0;
}

.breadcrumb li.is-active a {
    color: #363636;
    cursor: default;
    pointer-events: none;
}

.breadcrumb li+li::before {
    color: #b5b5b5;
    content: "\0002f";
}

.breadcrumb ol,
.breadcrumb ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.breadcrumb.is-centered ol,
.breadcrumb.is-centered ul {
    justify-content: center;
}

.menu-label:not(:first-child) {
    margin-top: 1em;
}

.menu-label:not(:last-child) {
    margin-bottom: 1em;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem);
}

.has-text-white {
    color: #fff !important;
}

a.has-text-white:focus,
a.has-text-white:hover {
    color: #e6e6e6 !important;
}

a.has-text-dark:focus,
a.has-text-dark:hover {
    color: #1c1c1c !important;
}

a.has-text-link:focus,
a.has-text-link:hover {
    color: #3449a8 !important;
}

a.has-text-link-dark:focus,
a.has-text-link-dark:hover {
    color: #576dcb !important;
}

a.has-text-info:focus,
a.has-text-info:hover {
    color: #2b74b1 !important;
}

a.has-text-info-dark:focus,
a.has-text-info-dark:hover {
    color: #368ace !important;
}

.is-size-5 {
    font-size: 1.25rem !important;
}

.has-text-centered {
    text-align: center !important;
}

.is-uppercase {
    text-transform: uppercase !important;
}

.has-text-weight-bold {
    font-weight: 700 !important;
}

.is-family-sans-serif {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

ul.nav {
    list-style-type: none;
    undefined: undefined;
    margin: 0;
    float: right;
}

ul.nav ul {
    margin: 0;
    padding: 0;
}

ul.nav li {
    float: left;
    list-style-type: none;
    list-style-image: none;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul.nav li li {
    background: #fff;
}

.nav li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    padding: 90px 15px 20px 15px;
    margin: 0 5px 0 0;
    color: #322f31;
    letter-spacing: -1px;
    text-transform: uppercase;
    border-bottom: 8px solid #fff;
    background-color: #fff;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
}

.nav a.menu-current,
.nav li a.active,
.nav li a:active,
.nav li a:focus,
.nav li a:hover {
    background: #f3c836;
    border-bottom: 8px solid #322f31;
}

.nav li ul {
    background: 0 0;
    display: none;
    width: 13em;
    margin: 0;
    padding: 0;
    position: absolute;
}

.nav li ul li {
    width: 20em;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid #fff;
    border-right: none;
    font-size: .9em;
    font-weight: 400;
    text-transform: none;
}

.nav li ul li a {
    color: #003074;
    padding: 8px 25px;
    background: 0 0;
    border-bottom: 1px solid #003074;
}

.nav li ul a.menu-current,
.nav li ul a:hover {
    background-color: #322f31;
    color: #fff;
}

.nav li a:focus ul,
.nav li:hover ul {
    display: block;
}

.nav li ul ul {
    display: none;
}

.nav li:hover ul ul {
    display: none;
}

.nav li li:hover>ul,
.nav li:hover>ul {
    display: block;
    z-index: 1000;
}

.nav li ul li ul {
    margin: -20px 0 0 70%;
    padding: 0;
    z-index: 9999;
    display: none;
    width: 11em;
}

.nav li ul li ul li {
    width: 11em;
}

.nav li {
    position: relative;
}

.nav li:hover {
    z-index: 10000;
    white-space: normal;
}

.image.is-24x24 {
    height: 24px;
    width: 24px;
  }
  
.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#i8onmi {
    color: #000;
    max-width: 350px;
}

#i8hl0o {
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
}

#idf1mc {
    color: #000;
    align-items: flex-end;
    display: flex;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: none;
    width: auto;
    justify-content: space-around;
    text-align: center;
    font-size: 19px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0 10px 10px 10px;
    border-radius: 0;
    box-shadow: 0 0 0 0 #000;
    margin: 0 0 0 10px;
}

#i7agar {
    color: #000;
    align-items: flex-end;
    display: flex;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    width: auto;
    justify-content: space-around;
    text-align: center;
    font-size: 23px;
    letter-spacing: 0;
    font-weight: 400;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0 10px 10px 10px;
    transition: background-color 2s ease;
    text-decoration: none;
    margin: 0 0 0 10px;
}

#icnbwd {
    color: #000;
    align-items: flex-end;
    display: flex;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#fff 0, #fff 100%);
    width: auto;
    justify-content: space-around;
    text-align: center;
    font-size: 23px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0 10px 10px 10px;
    margin: 0 0 0 10px;
}

#i1qp99 {
    color: #000;
    align-items: flex-end;
    display: flex;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#fff 0, #fff 100%);
    width: auto;
    justify-content: space-around;
    text-align: center;
    font-size: 23px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0 10px 10px 10px;
    margin: 0 0 0 10px;
}

#ijptsk {
    color: #000;
    align-items: flex-end;
    display: flex;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#fff 0, #fff 100%);
    width: auto;
    justify-content: space-around;
    text-align: center;
    font-size: 23px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0 10px 10px 10px;
    margin: 0 0 0 10px;
}

#ioimbt {
    align-items: stretch;
    height: 140px;
    padding: 0 10px 10px 10px;
}

.title:not(.is-spaced)+.subtitle {
    margin-top: -1.25rem;
}

#i6u40q {
    height: 50px;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#191919 0, #191919 100%);
}

div#slider {
    overflow: hidden;
    height: 450px;
    max-height: 450px;
    min-height: 250px !important;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

#i6xci {
    padding: 10px;
}

#iubzpl {
    min-height: auto;
}

#i41juk {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#191919 0, #191919 100%);
    padding: 10px 10px 10px 10px;
}

#imhvp7 {
    justify-content: flex-start;
    align-self: auto;
    display: flex !important;
    align-items: stretch;
    flex: 1 1 100%;
    flex-direction: column;
}

#ibt4o8 {
    padding: 10px;
}

#ig6oiy {
    text-align: center;
    color: #fff;
}

#ixo3ol {
    font-weight: 700 !important;
    text-align: center;
    color: #fff;
}

#isbuxj {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.3rem !important;
    font-weight: 700 !important;
}

#ieymzm {
    padding: 10px;
    font-size: 1rem !important;
    color: #fff;
    text-align: center;
}

#ijg1yx {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.3rem !important;
    font-weight: 700 !important;
}

#imy2ne {
    padding: 10px;
    font-size: 1rem !important;
    color: #fff;
    text-align: center;
}

#isdc8h {
    font-weight: 600 !important;
}

#ix0sab {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#191919 0, #191919 100%);
    flex-direction: row;
}

#i2x9n2 {
    padding: 20px 20px 20px 20px;
    color: #fff !important;
}

#i12uiq {
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
}

#i436cj {
    padding: 20px 20px 20px 20px;
    color: #fff !important;
}

#i2r4ok {
    padding: 20px 20px 20px 20px;
    color: #fff !important;
}

#iruw3b {
    justify-content: space-between;
    align-items: flex-start;
    display: block;
    padding: 10px 10px 100px 10px;
}

#iukl0f {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#iyo5i3 {
    min-width: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: auto;
    background-image: url(https://sadsunray.github.io/stabau/images/pl.svg);
    float: right;
    position: static;
}

#ih5xvf {
    min-width: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: auto;
    background-image: url(https://sadsunray.github.io/stabau/images/gb.svg);
    float: right;
    position: static;
}

#ihtlwh {
    min-width: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: auto;
    background-image: url(https://sadsunray.github.io/stabau/images/de.svg);
    float: right;
    position: static;
}

#iey0sf {
    display: inline-block;
    padding: 5px;
    min-height: 80%;
    min-width: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: contain;
    background-image: url(https://sadsunray.github.io/stabau/images/STABAU_Holding_Logo.png);
}

#i3ewxe {
    align-self: center;
}

* {
    box-sizing: border-box;
}

.menu_highlight {
    background-image: linear-gradient(#f6c837 0, #f6c837 100%);
    box-shadow: 0 8px 0 0 #000;
    font-weight: 700;
}

#itfjx1 {
    display: flex;
    width: 70%;
}

#i1oyij {
    padding: 10px;
}

#inp3ae {
    width: 70%;
}

#iwbfd9 {
    padding: 10px;
    text-align: center;
}

#i20w46 {
    padding: 10px;
    text-align: center;
}

#ih1ecu {
    width: 70%;
    justify-content: flex-start;
    flex-direction: row;
}

#ilipeh {
    display: flex;
    justify-content: space-around;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.item {
    height: 100%;
    width: 100%;
    flex: 1;
    transition: .3s ease flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.item:hover {
    flex: 8;
}

@keyframes spinAround {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes moveIndeterminate {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}

@keyframes slidy {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

@media screen and (max-width:1400px) {
    .nav li a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
}

@media screen and (min-width:769px),
print {
    .columns:not(.is-desktop) {
        display: flex;
    }

    .is-size-3-tablet {
        font-size: 2rem !important;
    }

    .is-size-7-tablet {
        font-size: .75rem !important;
    }

    .is-hidden-tablet {
        display: none !important;
    }
}

@media screen and (min-width:1024px) {
    .is-size-1-desktop {
        font-size: 3rem !important;
    }

    .is-size-5-desktop {
        font-size: 1.25rem !important;
    }
}

@media (max-width:992px) {
    #i3ewxe {
        align-self: auto;
        align-items: flex-start;
        justify-content: flex-start;
        display: flex !important;
        flex-direction: row;
    }

    #idf1mc {
        width: auto;
        padding: 0 10px 10px 10px;
    }

    #i7agar {
        width: auto;
        padding: 0 10px 10px 10px;
    }

    #icnbwd {
        width: auto;
        padding: 0 10px 10px 10px;
    }

    #i1qp99 {
        width: auto;
        padding: 0 10px 10px 10px;
    }

    #ijptsk {
        width: auto;
        padding: 0 10px 10px 10px;
    }

    #i8onmi {
        text-align: left;
        align-self: center;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 66%;
        width: auto;
        display: flex !important;
    }

    #icfc8v {
        height: 310px;
    }

    #isbuxj {
        font-size: 1rem !important;
    }

    #ijg1yx {
        font-size: 1rem !important;
    }

    #iey0sf {
        min-height: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;
        background-size: contain;
        background-image: url(https://sadsunray.github.io/stabau/images/STABAU_Holding_Logo.png);
    }

    #ig6oiy {
        font-size: .75rem !important;
    }

    #ixo3ol {
        font-size: .75rem !important;
    }
}

@media screen and (max-width:960px) {
    .nav li a {
        background: #322f31;
        color: #fff;
        border-bottom: none;
        padding: 20px 15px 20px 15px;
    }

    ul.nav li li {
        background: #322f31;
        color: #fff;
        border-bottom: none;
    }

    .nav a.menu-current,
    .nav li a.active,
    .nav li a:active,
    .nav li a:focus {
        background-color: #f3c836;
        color: #322f31;
        border-bottom: none;
    }

    .nav li a:hover,
    .nav li ul li a,
    ul.nav li li a:hover {
        background-color: #f3c836;
        color: #322f31;
        border-bottom: none;
    }

    .nav li ul a.menu-current,
    .nav li ul a:hover {
        background-color: #f3c836;
        color: #322f31;
        border-bottom: none;
    }

    ul.nav li {
        font-size: 120%;
    }

    .nav li ul li {
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    .is-size-7-mobile {
        font-size: .75rem !important;
    }

    .is-hidden-mobile {
        display: none !important;
    }
}

@media (max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:768px) {
    section {
        flex-direction: column;
    }

    .item {
        flex: 1;
        height: 100px;
    }

    body {
        font-size: 14px;
    }
}

@media (max-width:480px) {
    #iszqr {
        display: block;
        justify-content: flex-start;
    }

    #iyw91 {
        color: #000;
    }

    #iwvht {
        display: flex !important;
        justify-content: center;
    }

    #i2x9n2 {
        padding: 10px 10px 10px 10px;
    }

    #i436cj {
        padding: 10px 10px 10px 10px;
    }

    #i2r4ok {
        padding: 10px 10px 10px 10px;
    }

    #isbuxj {
        font-size: .75rem !important;
    }

    #ijg1yx {
        font-size: .75rem !important;
    }

    #ieymzm {
        font-size: .75rem !important;
    }

    #imy2ne {
        font-size: .75rem !important;
    }

    #i6u40q {
        height: 30px;
        padding: 5px 10px 5px 10px;
    }

    #ihtlwh {
        height: 20px;
    }

    #ih5xvf {
        height: 20px;
    }

    #iyo5i3 {
        height: 20px;
    }

    #iey0sf {
        min-height: 50%;
    }

    #imhvp7 {
        min-height: 140px;
    }
}

@media (max-width: 480px) {
    #iz8gx {
        width: 100%;
    }

    #itfjx1 {
        width: 100%;
    }

    #inp3ae {
        width: 100%;
    }

    #ih1ecu {
        width: 100%;
        height: 350px;
    }

    #ilipeh {
        width: 100%;
        height: 350px;
    }

    #i21j2i {
        width: 100%;
        height: 350px;
    }

    #i8zlw5 {
        height: 350px;
    }

    #ipde6 {
        min-height: 45px;
    }

    #iyw91 {
        width: 100%;
        height: 100%;
        position: static;
        display: block;
    }
}